[submodule "elisp/php-mode"]
	path = elisp/php-mode
	url = https://github.com/freeduck/php-mode.git
[submodule "elisp/bookmark-plus"]
	path = elisp/bookmark-plus
	url = https://github.com/freeduck/bookmark-plus.git
[submodule "elisp/icicles"]
	path = elisp/icicles
	url = https://github.com/freeduck/icicles.git

[submodule "elisp/web-mode"]
	path = elisp/web-mode
	url = https://github.com/freeduck/web-mode.git
